[flake8]
max-line-length = 120
exclude =
    .git,__pycache__,venv,.venv,
    build,dist,
    *.pyc,.pytest_cache,
    .mypy_cache,htmlcov,
    migrations
ignore = E203,E501,W503
per-file-ignores =
    __init__.py:F401
    tests/*:F401,F811
